<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mybooksapp/style.css' %}">
    <title>Neues Buch hinzufügen</title>
</head>
<body>

  <div class='row justify-content-md-center p-2 mt-5'>
  <div class="col-lg-10 p-4 bg-white rounded shadow-sm">

    <form action="" method="post">
    <div class="form-group">
      {% csrf_token %}
      <label>Titel</label>
      <input type="text" name="title"><br>

      <label>Autor:in</label>
      <input type="text" name="author"><br>

      <label>Inhalt</label>
      <input type="textarea" name="content"><br>

      <label>Bewertung</label>
      <input type="number" name="rating"><br>

      <label>Preis</label>
      <input type="number" step="0.01" name="price"><br>

      <label>Cover</label>
      <input type="text" name="cover"><br>

      <label>Bücherliste</label>
      <select name="booklist">
        {% for list in booklists %}
          <option value="{{list.id}}">{{list}}</option>
        {% endfor %}
      </select></br>

      <label>Genre</label>
      <select name="genre">
        {% for genre in genres %}
          <option value="{{genre.id}}">{{genre}}</option>
        {% endfor %}
      </select></br>

      <div class="input-group">
        <input class="btn" type="submit" value="Speichern">
      </div>

    </div>
    </form>
    <form action="" method="post">
    <div class="form-group">
      {% csrf_token %}
      <label>Oder gib eine ISBN ein und lasse dein Regal automatisch auffüllen</label>
      <input type="number" name="isbn"><br>
      <label>Bücherliste</label>
      <select name="booklist">
        {% for list in booklists %}
          <option value="{{list.id}}">{{list}}</option>
        {% endfor %}
      </select></br>

      <label>Genre</label>
      <select name="genre">
        {% for genre in genres %}
          <option value="{{genre.id}}">{{genre}}</option>
        {% endfor %}
      </select></br>
      <div class="input-group">
        <input class="btn" type="submit" value="Speichern">
      </div>

    </div>
    </form>
  </div>
  </div>

</body>
</html>